{% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

<!-- Still need to fix why alert is not working -->
{% if error %}
  <div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}

{% if msg %}
  <div class="alert alert-success", role="alert">{{ msg }}</div>
{% endif %}